@tailwind base;

@import url('./fonts.css');

@tailwind components;

/* purgecss ignore */
html {
  scroll-behavior: smooth;
}
/* purgecss ignore */
body,html {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 19px;
  letter-spacing: 0.02rem;
  font-weight: 400;
  color: var(--fg-color);
}
/* purgecss ignore */
* {
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* purgecss ignore */
body,
html,
#__next {
  height: 100%;
}
/* purgecss ignore */
#__next {
  display: flex;
  flex-direction: column;
}
/* purgecss ignore */
/* #__next > * {
  flex: 1 0 auto;
} */

@tailwind utilities;